[Unit]
Description=Set X11 Key Repeat Rate
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xset r rate 250 40
