[Unit]
Description=Run xset rate hourly

[Timer]
OnActiveSec=0
OnUnitActiveSec=1h
Persistent=true
Unit=xset-rate.service

[Install]
WantedBy=timers.target
